*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{
    --main-color: #ff9f0d;
    --text-color: #fff;
    --other-color: #212121;
    --second-color: #9e9e9e;
    --bg-color: #111111;

    --big-font: 3rem;
    --h2-font: 2rem;
    --p-font: 1rem;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 8%;
    transition: all.50s ease;
}

.logo{
    font-family: 'Kavoon', serif;
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 1.5rem;
}

.logo i{
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
}

.navlist{
    display: flex;
}

.navlist a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 3rem;
    margin: 0 10px;
    transition: all .50s ease;
}

.navlist a:hover{
    background-color: var(--main-color);
    color: var(--bg-color);
}

.navlist a:active{
    color: var(--main-color);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border-radius: 3rem;
    background: var(--main-color);
    box-shadow: #ff9f0d 0px 1px 25px;
}

.nav-icons a {
    display: flex;
    align-items: center; 
    text-decoration: none; 
    color: var(--bg-color); 
    font-size: var(--p-font); 
    margin-right: 8px; 
    margin-left: 5px; 
    transition: all 0.5s ease;
}

.nav-icons a:hover {
    transform: scale(1.1); 
    color: var(--text-color); 
}

.nav-icons i {
    font-size: inherit; 
    vertical-align: middle; 
}

.nav-search {
    position: relative;
    display: flex;
    align-items: center;
}

.search-form {
    display: flex;
    width: 100%;
}

.search-button {
    position: absolute;
    right: 68px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    align-items: center;

}

#search-icon {
    font-size: 20px;
    color: #888;
}

#search-input {
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3rem;
    margin-right: 10px;
    color: #000;
}

section{
    padding: 50px 8% 40px;
}

.user-dropdown {
    position: relative;
}

.user-menu {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-arrow {
    margin-left: 5px;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 120px;
    padding: 10px 0;
    display: none; /* Mulai tersembunyi */
}

.dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.dropdown a:hover {
    background-color: #f0f0f0;
}

/* Tampilkan dropdown saat class 'show' ditambahkan */
.dropdown.show {
    display: block;
}

.hidden {
    display: none;
}

.recipe-container h2, .recipe-container p {
    text-align: center;
}

.recipe-container h2{
    margin-top: 5px;
}

.recipe-container h1 {
    text-align: left;
    margin-top: 70px;
}

.recipe-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.recipe-img {
    max-width: 30%;
    height: auto;
    border-radius: 20px;
}

.ingredients-container{
    flex: 1;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    align-items: center;
}

.instructions-container{
    margin-top: 30px;
}

.ingredients-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    padding: 0;
    margin-left: 40px;
    column-gap: 20px; /* Add gap between items */
    margin-top: 15px;
    align-items: center;
}

.ingredients-container li {
    width: calc(50% - 10px);
    list-style-type: disc;
    margin-bottom: 10px;
    font-size: 12px
}

.instructions-container ol{
    margin-left: 35px;
    margin-top: 15px;
}

.instructions-container li {
    list-style-type: decimal;
}

.instructions-container ol {
    list-style-type: decimal;
}

.instructions-container ol li::marker {
    color: var(--main-color); /* Change this color to whatever you like */
    font-size: var(--h2-font);
}

/* Style for the comment section */
.comment-section {
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.comment-section h2{
    margin-bottom: 10px;
}

.comment-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-form .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-form-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.comment-form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.comment-form button {
    background-color: var(--main-color);
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
}

/* Gaya untuk komentar yang sudah ada */
.comments {
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    gap: 10px;
}

.comment img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment strong {
    margin-right: 10px;
}

.comment p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: left;
}

.comment span {
    margin-left: auto;
    font-size: 0.8em;
    color: #888;
}

.comment_info {
    flex-grow: 1;
    margin-left: 20px;
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed; /* Ganti absolute dengan fixed */
    top: 0;
    left: 0; /* Tambahkan ini agar popup menutupi seluruh layar */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

/* Menyembunyikan popup */
.popup.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

/* Menampilkan popup */
.popup.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.container {
    position: relative;
    height: 500px;
    width: 850px;
    background-color: #fff;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    transition: opacity 0.5s ease;
}

.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

form h1{
    color: #141E30;
}

.social-container{
    margin: 20px 0px;
}

.social-container a{
    border: 1px solid var(--bg-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}

.social-container a:hover{
    color: var(--bg-color);
}

.span-text{
    font-size: var(--p-font);
    font-family: 'Poppins', sans-serif;
    color: var(--bg-color);
}

.infield {
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input{
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

label{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--bg-color);
    transition: 0.3s;
}

input:focus ~ label {
    width: 100%;
}

a.forgot{
    padding-bottom: 3px;
    border-bottom: 2px solid var(--other-color);
}

a.forgot:hover {
    color: var(--bg-color);
}

button{
    border-radius: 20px;
    border: 1px solid #141E30;
    background: #243B55;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover{
    background: #fff;
    color: #141E30;
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6 ease-in-out;
    z-index: 9;
}

#overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
}

.overlay{
    position: relative;
    background-color: black;
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.overlay-panel h1{
    color: #fff;
}

.overlay-p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}

.overlay-panel button{
    border: none;
    background-color: transparent;
    margin-top: 10px;
}

.right-panel-active .overlay-container{
    transform: translateX(-150%);
}

.right-panel-active .overlay{
    transform: translateX(50%);
}

.right-panel-active .overlay-left{
    transform: translateX(25%);
}

.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show{
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.btnScaled {
    animation: scaleBtn 0.6s;
}
@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }
    50% {
        width: 250px;
    }
    100% {
        width: 143.67px;
    }
}

.scroll{
    position: fixed;
    bottom: 2.2rem;
    border-top: 2rem;
    right: 3.2rem;
}

.scroll i{
    font-size: 22px;
    color: var(--text-color);
    background: var(--main-color);
    padding: 10px;
    border-radius: 2rem;
}

footer {
    background-color: var(--bg-color);
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Mendorong footer ke bawah */
    font-size: 14px;
    color: var(--text-color); /* Warna teks */
}

